.avatarContainer {
  display: flex;
  align-items: flex-start;
  font-size: 45px;
  line-height: 1;
  margin-bottom: 25px;
}

.img {
  width: 100px;
  margin-right: 40px;
}

.resetButton {
  margin-bottom: 50px;
}

.resetText {
  font-size: 25px;
}

.meta {
  margin-left: 15px;
  font-size: 12px;
}

.listItem {
  margin: 20px 0;
}
